@use "../../abstracts" as *;

.header__content {
  margin-top: 170px;
  position: relative;

  z-index: 1;

  &-container {
    @extend %container;
  }

  &-title {
    text-align: center;

    @include lg-min {
      margin: 0 0 54px 0;
    }

    @include lg-md {
      margin: 0 0 44px 0;
    }

    @include md {
      margin: 0 0 34px 0;
    }
  }

  &-actions {
    display: flex;
    justify-content: center;
    gap: $gap;

    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }
}
