@use "../../abstracts" as *;

.header__content {
  margin-top: 170px;
  position: relative;

  z-index: 1;

  &-container {
    @extend %container;
  }

  &-title {
    text-align: center;
    margin: 0 0 54px 0;
  }

  &-actions {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: $gap;
  }
}
