@use "../../abstracts" as *;

.footer {
  padding: $gap-x4 0;

  background-color: $color-primary;
  font-family: $font-main;

  &__container {
    @extend %container;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__line {
    width: 75px;
    height: 2px;

    margin-bottom: $gap;

    background-color: rgba($color-white, 0.6);
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    color: rgba($color-white, 0.3);

    font-size: 0.875rem;
    letter-spacing: 0.35em;
    text-transform: uppercase;
  }

  &__title {
    color: $color-white;

    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}
